body {
    font-family: serif;
}

h1 {
    text-align: center;
    color: rgb(61, 61, 61);
    margin-top: 5%;
}

td {
    border-bottom: 2px solid rgba(90, 90, 90, 0.3);
    padding-bottom: 6%;
}

table {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}